// VARIABLE
$tab: 'screen and (max-width: 788px)';
$header-fix-top: 44px;// ヘッダをpostion:fixとした際のオフセット
$view-max-width: 700px;

@mixin mediaquery($bp) {
  @media #{$bp} {
    @content;
  }
}

// RESET
body, h1 {
  margin: 0;
  padding: 0;
}

// MAIN
body {
  background: #fafafa;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: 16px!important;
  @include mediaquery($tab) {
    background: #e7eef7;
  }
}

#view{
  width: $view-max-width;
  margin: 0 auto 0;
  // background-color: #fff;
  box-shadow: 0 0 1px #aaa;

  overflow: hidden;

  @include mediaquery($tab) {
    width: 100%;
  }
}

header{
  border-bottom: 1px solid #ddd;
  background-color: rgba(255,255,255,.95);
  line-height: $header-fix-top;
  height: $header-fix-top;
  color: #333;
  left: 0;
  top: 0;
  right: 0;
  z-index: 3;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  text-align: center;
  @include mediaquery($tab) {
    position: fixed;
  }
  h1 {
    cursor: default;
    display: inline-block;
    padding: 0;
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

#scroll{
  @include mediaquery($tab) {
    margin-top: $header-fix-top;
  }
}

.card.out-view{
  transform: translate(300px, 0);
  // opacity: 0.4;
}

.card.in-view{
  transform: translate(0, 0);
  // opacity: 1;
}

.card{
  // height: 50px;
  background: #FFF;
  position: relative; // for score, which is absolute
  border-bottom: 1px solid #e0e0e0;
  // border-bottom: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .5s ease-out;
  a{
    line-height: 1.2em;
    color: #000;
    display: block;
    padding: 10px 5px;
    text-decoration: none;
  }
  .anchorArea{
    padding: 10px 5px;
    padding-right: 60px;
    &:hover{
      background: #F6F6EF;
    }
    &:visited{
      color: #888;
    }
  }
  .story{
    margin-left: 4ex;
    padding-left: 5px;
    .meta-data {
      display: block;
      font-size: 14px;
      color: #666d74;
    }
  }
  .rank{
    font-weight: lighter;
    text-align: right;
    width: 3.5ex;
    color: #666d74;
    position: absolute;
    left: 5px;
    top: 10px;
  }
  // TODO: Make larger ahchor area size.
  // https://web.dev/tap-targets/?utm_source=lighthouse&utm_medium=extension
  .score{
    color: dodgerblue;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    z-index: 2;
    width: 60px;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    &:hover{
      background-color: #F6F6EF;
    }
    span{
      display: inline-block;
      width: 60px;
      height: 17px;
      margin: 11px 0;
    }
  }
  &:last-child{
    border-bottom: 1px solid #e0e0e0;
  }
}
