body {
  background: #fafafa;
  margin: 0;
  padding: 0;
}
#view{
  width: 788px;
  margin: 0 auto;
}
.card{
  // height: 50px;
  border: 1px solid #e0e0e0;
  border-bottom: 0;
  a{
    display: flex;
    align-items: center;
    height: 40px;
    padding: 10px 44px 10px 4px;
    background:#fefefe;
  }
  a:hover{
    background: #F6F6EF;
  }
  .score{
    color: darkred;
    font-weight: bold;
    width: 60px;
  }
}
.card:last-child{
  border-bottom: 1px solid #e0e0e0;
}