// VARIABLE
$tab: 'screen and (max-width: 788px)';
@mixin mediaquery($bp) {
  @media #{$bp} {
    @content;
  }
}

// RESET
body, h1 {
  margin: 0;
  padding: 0;
}

// MAIN
body {
  background: #fafafa;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: 16px!important;
}

#view{
  width: 700px;
  margin: 0 auto 0;
  background-color: #fff;
  box-shadow: 0 0 1px #aaa;
  @include mediaquery($tab) {
    width: 100%;
  }
  header{
    border-bottom: 1px solid #ddd;
    background-color: rgba(255,255,255,.95);
    line-height: 44px;
    height: 44px;
    color: #333;
    left: 0;
    top: 0;
    right: 0;
    z-index: 3;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    text-align: center;
    h1 {
      cursor: default;
      display: inline-block;
      padding: 0;
      font-weight: 400;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.card{
  // height: 50px;
  position: relative; // for score, which is absolute
  border-bottom: 1px solid #e0e0e0;
  // border-bottom: 0;
  a{
    line-height: 1.2em;
    color: #000;
    display: block;
    padding: 10px 5px;
    text-decoration: none;
  }
  .anchorArea{
    padding: 10px 5px;
    padding-right: 60px;
    &:hover{
      background: #F6F6EF;
    }
    &:visited{
      color: #888;
    }
  }
  .title{
    margin-left: 4ex;
    padding-left: 5px;
  }
  .rank{
    font-weight: lighter;
    text-align: right;
    width: 3.5ex;
    color: #666d74;
    position: absolute;
    left: 5px;
    top: 10px;
  }
  .score{
    color: dodgerblue;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    z-index: 2;
    width: 60px;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    &:hover{
      background-color: #F6F6EF;
    }
    span{
      display: inline-block;
      width: 60px;
      height: 17px;
      margin: 11px 0;
    }
  }
  &:last-child{
    border-bottom: 1px solid #e0e0e0;
  }
}
